<a href="https://colab.research.google.com/github/jessamcs/Week-5-Machine-Learning/blob/main/FirstModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
#FIRST MODEL (CORE) - SARCAUGA
#IMPORT
import pandas as pd
from sklearn.compose import make_column_selector
from sklearn.impute import SimpleImputer
from sklearn import metrics
from pandas import read_csv
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
%matplotlib inline



#Read the path
df = pd.read_csv('/content/insurance (1).csv')
df.head((5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [125]:
# Define features (x) and (y)
y = df['charges']
X = df.drop(columns = 'charges')

type(y)

pandas.core.series.Series

In [126]:
type(X)

pandas.core.frame.DataFrame

In [127]:
#Train test split the data to prepare for machine learning
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [128]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [129]:
#Identify each feature as numerical, ordinal, or nominal.
# NUMERICAL FEATURE
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# Convert target label to numerical Data
le = LabelEncoder()
df['charges'] = le.fit_transform(df['charges'])

#Separate training features from target
X = df.drop(['charges'], axis=1)
y = df['charges']

print(y)

0       1005
1         57
2        306
3       1097
4        254
        ...
1333     746
1334     118
1335      32
1336      91
1337    1171
Name: charges, Length: 1338, dtype: int64

In [130]:
print(X)

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [131]:
# NOMINAL FEATURE

# Convert target label to Nominal Data
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])

#Separate training features from target
X = df.drop(['sex'], axis=1)
y = df['sex']

print(y)

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int64

In [132]:
print(X)

      age     bmi  children smoker     region  charges
0      19  27.900         0    yes  southwest     1005
1      18  33.770         1     no  southeast       57
2      28  33.000         3     no  southeast      306
3      33  22.705         0     no  northwest     1097
4      32  28.880         0     no  northwest      254
...   ...     ...       ...    ...        ...      ...
1333   50  30.970         3     no  northwest      746
1334   18  31.920         0     no  northeast      118
1335   18  36.850         0     no  southeast       32
1336   21  25.800         0     no  southwest       91
1337   61  29.070         0    yes  northwest     1171

[1338 rows x 6 columns]

In [133]:
# ORDINAL FEATURE
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# Convert target label to numerical Data
le = LabelEncoder()
df['bmi'] = le.fit_transform(df['bmi'])

#Separate training features from target
X = df.drop(['bmi'], axis=1)
y = df['bmi']

print(y)

0       197
1       350
2       331
3        73
4       223
       ...
1333    276
1334    302
1335    422
1336    146
1337    229
Name: bmi, Length: 1338, dtype: int64

In [134]:
print(X)

      age  sex  children smoker     region  charges
0      19    0         0    yes  southwest     1005
1      18    1         1     no  southeast       57
2      28    1         3     no  southeast      306
3      33    1         0     no  northwest     1097
4      32    1         0     no  northwest      254
...   ...  ...       ...    ...        ...      ...
1333   50    1         3     no  northwest      746
1334   18    0         0     no  northeast      118
1335   18    0         0     no  southeast       32
1336   21    0         0     no  southwest       91
1337   61    0         0    yes  northwest     1171

[1338 rows x 6 columns]

In [135]:
#One Hot Encode the nominal features
#Encoder
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

#make categorical and numeric selectors
cat_selector = make_column_selector(dtype_include='object')

#select categorical columns
cat_data = X_train[cat_selector(X_train)]
cat_data

from sklearn.preprocessing import OneHotEncoder
#instantiate one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
ohe_encoder.fit(cat_data)
cat_ohe = ohe_encoder.transform(cat_data)
cat_ohe

array([[1., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 1.],
       ...,
       [1., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.]])

In [136]:
#set prefixes to original column names
pd.DataFrame(cat_ohe, columns=ohe_encoder.get_feature_names(cat_data.columns))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      smoker_no  smoker_yes  ...  region_southeast  region_southwest
0           1.0         0.0  ...               0.0               0.0
1           1.0         0.0  ...               1.0               0.0
2           1.0         0.0  ...               0.0               1.0
3           0.0         1.0  ...               1.0               0.0
4           1.0         0.0  ...               0.0               1.0
...         ...         ...  ...               ...               ...
998         1.0         0.0  ...               0.0               0.0
999         1.0         0.0  ...               1.0               0.0
1000        1.0         0.0  ...               0.0               0.0
1001        0.0         1.0  ...               0.0               1.0
1002        1.0         0.0  ...               0.0               1.0

[1003 rows x 6 columns]

In [137]:
# Model for train data
# Model prediction on train data
#Linear regression
from sklearn.model_selection import train_test_split as holdout
from sklearn.linear_model import LinearRegression
from sklearn import metrics
X = df.drop(['charges'], axis = 1)
y = df['charges']
X_train, X_test, y_train, y_test = holdout(X, y, test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test = holdout(x, y, test_size=0.2, random_state=0)
Lin_reg = LinearRegression()
#Lin_reg(X_train, y_train)